.btn{
    position: absolute;
    top: 15vh;
}
.homePg{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    top: 14vh;
    width: 90rem;
}
.blackcat{
    width: 90%;
}