.btn{
    position: absolute;
    top: 15vh;
}
.homePg{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    top: 14vh;
    width: 90rem;
}
.blackcat{
    width: 90%;
}
.para{
    color: #E5F5FB;
    display: inline-grid;
    grid-column-start: 2;
text-align: right;
font-size:4rem;
font-family: Outfit,sans-serif; 
text-transform: capitalize;
/* width: 45.88275vh; */
/* height: 14.48519vh; */
position: absolute;
line-height: 1.5em;
/* top:10vh; */
margin-right: 4rem;
font-weight: 600;

}
.description{
    font-size: xxx-large;
    font-weight: normal;
}
.cat{
    display: inline-grid;
    grid-column-start: 1;
}
@media(max-width:600px){
    .homePg{
        grid-template-columns: repeat(1,1fr);
    }
    .para{
        grid-column-start: 1;
        text-align: center;
        font-size: 16vw;
    }
}
@media (max-width:390px){
    .homePg{
        grid-template-columns: repeat(1,1fr);
    }
    .para{
        grid-column-start: 1;
        text-align: center;
        font-size: 19vw;
        margin-left: 5rem;
        margin-top: 20vh;
    }
    
}