.notsession{
    /* z-index: 11111; */
    position: absolute;
    /* background-color: rgb(54, 53, 76); */
    /* top: -50px; */
    width: 100%;
    height: 100%;
    color: beige;
    /* align-items: center; */
    left:2rem;
    top:0rem;
    font-size:larger;
    grid-column-start: 5;
    grid-column-end: 9;
    align-items: center;
    /* display: flex; */
    grid-row-start: 3;
}
.lgnpg{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.login{
    z-index: 11111;
    position: absolute;
    background-color: rgb(54, 53, 76);
    /* top: -50px; */
    width: 90rem;
    height: 100%;
    color: beige;
    /* align-items: center; */
    left:0rem;
    background: transparent;
    top:14vh;
    /* font-size: larger; */
    display: grid;
   

}
.loginbtn{
    background-color: rgb(135, 135, 168);
    height: 3.5rem;
    width: 6rem;
    border-radius: 2rem;
    left: 30%;
    position: absolute;
    top: 7vh;
    border: none;
    /* display: grid; */
    /* grid-row-start: 4; */
    line-height: 3rem;
}
.loginbtn:hover{
    cursor: pointer;
    border: 1px solid;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    background-color: rgb(54, 53, 76);
    height: 100vh;
}
.profimg{
    position: absolute;
    height: 20rem;
    width: auto;
    border-radius: 50%;
    padding-top: 1rem;
    display: inline-grid;
    grid-row-start: 1;
    /* width: 50vw; */
    grid-column-start: 2;
    /* grid-column-start: 5; */
}
.data{
    position: absolute;
    left:10%;
    top: 10rem;
}
.follower{
    position: absolute;
    grid-row-start: 2;
    /* width: 50vw; */
    grid-column-start: 3;
 
    display: inline-grid;
 
}
.following{
    position: absolute;
    grid-row-start: 3;
    /* width: 50vw; */
    grid-column-start: 2;
 
    display: inline-grid;

}
.repo{
    position: absolute;
    grid-row-start: 4;
    /* width: 50vw; */
    grid-column-start: 2;
 
    display: inline-grid;
 
}
.signout{
    display: inline-grid;
    height: fit-content;
    width: fit-content;
    grid-column-start: 3;
    margin-top: 2rem;
    grid-row-start: 1;
}
.explore{
    display: inline-grid;
    height: fit-content;
    width: fit-content;
    grid-column-start: 3;
    margin-bottom: 1rem;
    grid-row-start: 1;
}
