.search{
    position: absolute;
    top: 20%;
    display: grid;
    color: beige;
    grid-template-columns: repeat(2,1fr);
    width: 90rem;
}
.repo_name{
    color: rgb(168, 199, 228);
}
.url{
    color: aliceblue;
}
.repobox{
    /* border: 1px solid white; */
    position: relative;
    padding-block: initial;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
}
.repobox:hover{
    /* border: 1px solid white; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* width: 100%; */
}
.sortcond{
    font-weight: bolder;
    font-size: large;
}
.user{
    padding-bottom: 1rem;
    font-size: large;
    font-weight: 550;
    font-family:cursive;
}
.userInput{
    padding-left: 1rem;
    border-radius: 0.5rem;
    height: 1.2rem;
    
}
.userSubmit{
    border-radius: 0.5rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    color: beige;
    font-weight: 550;
}
.userSubmit:hover{
    border: 1px solid #E5F5FB;
    cursor: pointer;
}
